{% load static %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>programming languages</h1>
    <p>A programming language is any set of rules (whose syntax, and also sometimes its semantics, is usually defined by a formal language) that converts strings to various kinds of machine code output. Programming languages are one kind of computer language, and are used in computer programming to implement algorithms.

        Most programming languages consist of instructions for computers. There are programmable machines that use a set of specific instructions, rather than general programming languages. Since the early 1800s, programs have been used to direct the behavior of machines such as Jacquard looms, music boxes and player pianos.[1] The programs for these machines (such as a player piano's scrolls) did not produce different behavior in response to different inputs or conditions</p>
</body>
</html>